{% extends 'cmtbox/base.html' %}
{% block content %}
<div align=right>
    <a href="{% url 'new_member' %}"><img src="mg.jpg">add member</a>
</div>
    {% for member in members %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <div class="member">
            <div class="date">
                {{ member.post_date }}
            </div>
            <h1><a href="{% url 'member_detail' pk=member.pk %}">{{ member.name }}</a></h1>
            <h3><p>{{ member.relation }}</p></h3>
            <h4><p>{{ member.thought|linebreaksbr }}</p></h4>
        </div>
    {% endfor %}
{% endblock content %}